#container {
    text-align: center;
    margin: 0 auto;
    padding-top: 2em;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.row {
    width: 100%;
}

.formula {
    display: inline-block;
}

.context {
    display: inline-block;
}

.derivation.first {
    margin-left: 0;
    display: inline-block;
}

.derivation {
    margin-left: 2em;
    display: inline-block;
    cursor: default;
}

.derivation.completed {
    background-color: lightgreen;
}

.derivation.closed > .ruleConclusion {
    border-top: 1px solid black;
}

.derivation.closed > .ruleConclusion .turnstile:hover {
    background-color: lightcoral;
    cursor: pointer;
}

.derivation .formula.topLevel:hover {
    background-color: skyblue;
    cursor: pointer;
}

.derivation .formula.topLevel:hover > .connective {
    color: white;
    background-color: black;
    cursor: pointer;
}

.derivation .formula.topLevel > .connective:hover {
    cursor: pointer;
}

.tag {
    float: right;
    font-size: smaller;
    margin-right: -1.5em;
    margin-top: -1.5ex;
    color: darkgray;
}
